Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [4]:
s = "python"
l = [1,2,3,4,5]
f = 3.14
t = (1,2,3,4,5)

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

Ans. var1 = str,  var2 = str, var3 = list, var4 = int

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [12]:
''' 1. / operator allows us to perform division between two integers as well as floating point numbers
2. % operator allows us to find out remainder between two intergers as well as floating point numbers
3. // operator known as floor division it will round down the output nearest to the whole number
4. ** operator is used to perform exponentiation between two integers as well as float numbers '''

a = 10/5
b = 10/3
c = 17//4
d = 2**3
print(a,' ',b,' ',c,' ',d)

2.0   3.3333333333333335   4   8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [14]:
lst = [1,2,3,4,"python","data science",12.45,True,[5,6,7],(8,9,10)]
for i in lst:
    print(i)

1
2
3
4
python
data science
12.45
True
[5, 6, 7]
(8, 9, 10)

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [4]:
a,b,count = 12,3,0

while a%b==0:
    count +=1
    break
print("it will be divisible for ",count," time")

it will be divisible for  1  time

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [17]:
l1 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in l1:
    if i%3 == 0:
        print(i," is divisible by 3")
    else:
        print(i," is not divisible by 3")

1  is not divisible by 3
2  is not divisible by 3
3  is divisible by 3
4  is not divisible by 3
5  is not divisible by 3
6  is divisible by 3
7  is not divisible by 3
8  is not divisible by 3
9  is divisible by 3
10  is not divisible by 3
11  is not divisible by 3
12  is divisible by 3
13  is not divisible by 3
14  is not divisible by 3
15  is divisible by 3
16  is not divisible by 3
17  is not divisible by 3
18  is divisible by 3
19  is not divisible by 3
20  is not divisible by 3
21  is divisible by 3
22  is not divisible by 3
23  is not divisible by 3
24  is divisible by 3
25  is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [21]:
''' Mutable are those data types in which we can modify their specific index and immutable
are those data types in which we can access their index but cannot modify them
best example for mutable is list data type and immutable is string type'''

l = [1,2,3,4,5]
l[2] = 10
print(l)
s = "python"
s[2] = "z"

[1, 2, 10, 4, 5]

TypeError: 'str' object does not support item assignment